.deck-card-container {
    width: 100px;
    >.card {
        position: relative;
        background-color: #f8fafb;
        margin: 10px auto;
        width: 80px;
        height: 116px;
        border-radius: 10px;
        cursor: pointer;
        opacity: 0.5;

        &.selected {
            // border: 2px solid #000000;
            // box-sizing: border-box;
            opacity: 1;
            >.card-number {
                font-size: 2em;
            }

        }

        >.card-number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 20px;
            font-weight: 800;
        }
    }
}