<div class="planning-page-container" *ngIf="session">
    <header>
        <div class="titles">
            <h1>{{ session.projectName }}</h1>
            <span>
                <i class="material-icons">link</i>
                <span>{{ inviteUrl }}</span>
            </span>
        </div>
        <div class="actions" *ngIf="isOwner">
            <button (click)="showCards()" [disabled]="!hasAllVotes || isShowCards"  type="button">Show cards</button>
            <button (click)="newRound()" [disabled]="!isShowCards" type="button">New round</button>
        </div>
    </header>
    
<div class="table-container">
        <ul *ngIf="users">
            <li *ngFor="let user of users">
                <user-card [user]="user" [showCard]="isShowCards"></user-card>
            </li>
        </ul>
    </div>

    <div class="deck-container">
        <ul *ngIf="session">
            <li *ngFor="let card of session.deck">
                <deck-card [card]="card" [disabled]="isShowCards" [(ngModel)]="selectedCard"></deck-card>
            </li>
        </ul>
        <div class="current-user-container" *ngIf="currentUser">
            <span class="user-name">{{ currentUser.name }}</span>
            <button (click)="vote()" [disabled]="!selectedCard || isShowCards">Vote</button>
            <button (click)="clearVote()" [disabled]="!selectedCard || isShowCards">Clear vote</button>
        </div>
    </div>
</div>