<div class="sign-in-page">
    <div class="form-container" *ngIf="!isLoading">
        <div class="field-container">
            <label>Project name</label>
            <span *ngIf="isExistingSession">{{ projectName }}</span>
            <input *ngIf="!isExistingSession" [(ngModel)]="projectName" type="text" />
        </div>
        <div class="field-container">
            <label>Your name</label>
            <input [(ngModel)]="userName" type="text" />
        </div>
        <button (click)="handleLoginClick()" type="button">Start planning</button>
    </div>
    <i *ngIf="isLoading" class="material-icons loader">refresh</i>
</div>