// Material design icons
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import '~material-design-icons/iconfont/material-icons.css';

$card-background-color: #f8fafb;

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #52586b;
    color: #f8fafb;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

button {
    border: none;
    background-color: #f8fafb;
    color: #52586b;
    font-weight: 600;
    font-size: 0.8em;
    padding: 10px 20px;
    margin: 0 5px;
    outline: none;
    cursor: pointer;

    &:disabled {
        cursor: default;
        color: lightgray;
    }
}
