// Material design icons
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import '~material-design-icons/iconfont/material-icons.css';

$card-background-color: #f8fafb;

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #52586b;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
